.container {
    padding: 40px 20px;

    @include for-tablet-landscape-up {
        padding: 120px 60px;
        margin: 0 auto 0 40vw;
        width: $default-width;
    }

    main & {

        @include for-tablet-landscape-up{
            padding-bottom: 0;
        }
    }
}

.page-wrapper {
    display: flex;
    flex-direction: column;

    @include for-tablet-landscape-up {
        flex-direction: row;
    }
}