// COLORS
$color-aqua: #05DAFF;
$color-robins-egg: #05C4E6;
$color-pacific: #04A3BF;
$color-lagoon: #036D80;
$color-cyprus: #013640;
$color-black: #000;
$color-white: #fff;
$flamenco: #08FF9B;

// DEFAULTS
$default-width: 69vw;
$default-radius: 4px;
$default-shadow: 0 0 10px rgba($color-black, 10%);

//FONTS
$font-heading: 'Amaranth', sans-serif;
$font-body: 'Open Sans', sans-serif;