// COLORS
$viola: #BF84B6;
$strikemaster: #80587A;
$cotton-candy: #FFB1F3;
$thunder: #402C3D;
$orichid: #E69EDB;
$black: #000;
$white: #fff;

// DEFAULTS
$default-width: 1200px;
$default-radius: 4px;
$default-shadow: 0 0 10px rgba($black, 10%);