@import '../Styles/variables';
@import '../Styles/mixins';
@import '../Styles/reset';
@import '../Styles/typography';
@import '../Styles/setup';
@import './Navbar/navbar';
@import './BlogRoll/blogroll';
@import './Footer/footer';

//PAGE
@import '../pages/pages';

.btn {
    text-transform: uppercase;
    font-size: 1.8rem;
    border-radius: $default-radius;
    letter-spacing: .2rem;

    &-link {
        color: $flamenco;
        padding-bottom: 4px;

        &:hover,
        &:focus {
            box-shadow: 0px 0px 0px 1px $color-aqua;
        }
    }

    &-std {
        padding: 10px 40px;
        font-size: 2rem;
        padding: 10px;
        margin-top: 20px;
        min-width: 180px;
        letter-spacing: 0.17rem;
        color: $flamenco;
        transition: all .1s ease-in-out;
        position: relative;
        span {
            transition: all;
            transform: scale(1,1)
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            transition: all 0.3s;
            width: 100%;
            height: 100%;
            z-index: 1;
            left: 0;
            top: 0;
        }

        &::before {
            opacity: 0;
            background: rgba($color-aqua, 0.1);
            transform: scale(0.1, 1);
            left: 0;
        }

        &::after {
            transition: all 0.3s;
            border: 1px solid rgba($flamenco, 0.5);
        }

        &._sm {
            font-size: 1.6rem;
            font-weight: 600;
            letter-spacing: .1rem;
            text-align: center;
        }

        &:hover,
        &:focus {
            box-shadow: rgba($flamenco, 0.6);

            &:before {
                opacity: 1;
                transform: scale(1,1);
            }

            &::after {
                transform: scale(1, .1);
                opacity: 0;
            }

        }
    }
}