@import '../Styles/variables';
@import '../Styles/mixins';
@import '../Styles/reset';
@import '../Styles/typography';
@import '../Styles/setup';
@import './Navbar/navbar';
@import './BlogRoll/blogroll';
@import './Footer/footer';

//PAGE
@import '../pages/pages';

.btn {
    text-transform: uppercase;
    font-size: 1.8rem;
    border-radius: $default-radius;
    letter-spacing: .2rem;

    &-link {
        color: $color-aqua;
        padding-bottom: 4px;

        &:hover,
        &:focus {
            box-shadow: 0px 0px 0px 1px $color-aqua;
        }
    }

    &-std {
        background-color: $color-aqua;
        padding: 10px 40px;
        font-size: 2rem;
        padding: 10px 20px;
        margin-top: 20px;
        min-width: 180px;
        letter-spacing: 0.17rem;
    }
}