.footer {
    display: flex;
    width: 59.1vw;
    margin: 0 auto;
    margin-left: 40vw;
    background-color: $color-aqua;
    padding: 30px 20px;
    align-items: end;
    justify-content: start;

    img {
        width: 100px;
        height: 100px;
    }

    .column {
        padding: 0 40px;
        
        a {
            color: $color-cyprus;
        }

        &.social {
            display: flex;
            width: 100%;
            justify-content: flex-end;

            a {
                padding: 0 8px;
            }
        }
    }
}