.footer {
    display: flex;
    margin: 0 auto;
    background-color: $color-aqua;
    padding: 30px 20px;
    align-items: center;
    flex-direction: column;


    @include for-tablet-landscape-up {
        margin-left: 30vw;
        width: $default-width;
        flex-direction: row;
        justify-content: flex-start;
    }
    
    img {
        width: 100px;
        height: 100px;
    }

    .column {
        padding: 10px 0;
        text-align: center;

        @include for-tablet-landscape-up {
            padding: 0 20px;
            width: 25%;
        }

        @include for-desktop-up {
            padding: 0 20px;
        }
        
        a {
            color: $color-cyprus;
            font-size: 1.4rem;
        }

        &.social {
            display: flex;
            width: 100%;
            justify-content: center;

            @include for-tablet-landscape-up {
                justify-content: flex-end;
                align-self: flex-end;
            }

            a {
                padding: 0 8px;
            }
        }
    }
}